@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

#animate-area {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 400px;
    background-image: url(https://theme.crumina.net/html-olympus/img/bg-group.png);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 30s linear infinite;
}

@media (max-width: 720px) {
    .column-margin {
        margin: 20px 0;
    }
}
