
@media (min-width:991px) {
    .desktop-only {
        display:block !important;
    }
    .mobile-only {
        display:none !important;
    }
}

@media (max-width: 990px) {
    .desktop-only {
        display: none !important;
    }
    .mobile-only {
        display:block !important;
    }
}